.form-block {
  float: left;
  padding: 2em;
}

.formsection {
  border: 1px solid rgb(3, 0, 0);
  border-radius: 25px;
}

.field {

  padding: 1em 1em 1em;
}

h3 {
  text-align: center;
  text-decoration-color: blue;
}

.form-middle-block {
  float: left;
  padding: 2em;
}

.formbuttons {
  padding: 2em 1.5em 1.5em 0em;
  float: right;
}

.formbuttons-top {
  padding: 0em 0.75em 0.5em 1em;
  float: right;
}

.title {
  padding: 0em 0.5em 0.5em 0.5em;
  width: 75%;
  float: left;
}

#error {
  color: red;
}

.changeColor {
  background-color: rgb(255, 255, 255);
  color: rgb(113, 109, 109);
}

.mat-dialog-title {
  border-bottom: 0.01em solid black;
}

.spacer {
  margin: 0.5em;
}

.koppel {
  width: 25em;
}
.link-bestuurder {
  width: 100%;
}
