button {
  background-color: #1661EB;
  color: #ffffff;
  position: absolute;
  right: 2rem;
  top: 10.5rem;
}

.search-toolbar {
  background-color: #1661EB;
}

.searchbar-cancel {
  float: right;
}

.searchbar {
  text-align: center;
  top: 10.5rem;
  position: fixed;
  right: 4rem;
  min-width: 14rem;
  max-height: 36px;
  color: #ffffff !important; 
  width: 100%  ;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
  background-color: white !important;
  color: white !important;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: white;
}

mat-icon {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
}

