<div class="container">
    <div id="searchbar">
      <app-searchbar [entity]="entityType" [dataToFilter]="dataSource" (passFilteredData)="FilterDataHandler($event)">
      </app-searchbar>
    </div>

  <div class="mat-elevation-z8 table">

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

      <ng-container class="column" matColumnDef="kaartnummer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kaartnummer">Kaartnummer</th>
        <td mat-cell *matCellDef="let tankkaart">{{tankkaart.kaartnummer}}</td>
      </ng-container>

      <ng-container matColumnDef="geldigheidsdatum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="geldigheidsdatum">Geldigheidsdatum</th>
        <td mat-cell *matCellDef="let tankkaart">{{tankkaart.geldigheidsDatum | date : 'dd-MM-yyyy'}}</td>
      </ng-container>

      <!--
    <ng-container matColumnDef="pincode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pincode</th>
      <td mat-cell *matCellDef="let tankkaart">{{tankkaart.pincode}}</td>
    </ng-container>
    -->

      <ng-container matColumnDef="isGeblokkeerd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="isGeblokkeerd">Geblokkeerd</th>
        <td mat-cell *matCellDef="let tankkaart">{{tankkaart.isGeblokkeerd}}</td>
      </ng-container>

      <ng-container matColumnDef="brandstoffenForView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="brandstoffenForView">Brandstoffen</th>
        <td mat-cell *matCellDef="let tankkaart">{{tankkaart.brandstoffenForView}}</td>
      </ng-container>

      <ng-container matColumnDef="koppeling">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="koppeling">Gekoppeld aan bestuurder</th>
        <td mat-cell *matCellDef="let tankkaart">{{tankkaart.koppeling != null}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="ViewDetails(row)">
      </tr>

    </table>
    <div></div>
    <mat-paginator [length]="100" [pageSize]="15" [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page">
    </mat-paginator>

  </div>
</div>