
table {
  width: 100%;
}

.mat-header-cell {
  width: 10%;
}

.mat-row:hover .mat-cell {
  background-color: #5D98F1;
  color:#ffffff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


button {
  background-color: #1661EB;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
}



