<div class="clearfix">
    <div id="searchbar">
      <app-searchbar [properties]="columnsToDisplay" [dataToFilter]="dataSource" (passFilteredData)="FilterDataHandler($event)"></app-searchbar>
    </div>
  </div>
  
  <div class="mat-elevation-z8 table">
  
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">
  
      <ng-container class="column" matColumnDef="rijksregisternummer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rijksregisternummer</th>
        <td mat-cell *matCellDef="let bestuurder">{{bestuurder.rijksregisternummer}}</td>
      </ng-container>
  
      <ng-container matColumnDef="naam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Naam</th>
        <td mat-cell *matCellDef="let bestuurder">{{bestuurder.naam}}</td>
      </ng-container>
  
      <ng-container matColumnDef="achternaam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Achternaam</th>
        <td mat-cell *matCellDef="let bestuurder">{{bestuurder.achternaam}}</td>
      </ng-container>
  
      <ng-container matColumnDef="geboorteDatum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GeboorteDatum</th>
        <td mat-cell *matCellDef="let bestuurder">{{bestuurder.geboorteDatum | date : 'dd-MM-yyyy'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="rijbewijs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>rijbewijs</th>
        <td mat-cell *matCellDef="let bestuurder">{{bestuurder.rijbewijs.typeRijbewijs}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
          (click)="ViewDetails(row)">
      </tr>
    </mat-table>
    <div></div>
    <mat-paginator [length]="100"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            aria-label="Select page">
    </mat-paginator>
  
  </div>
  