.form-block {
  float: left;
  padding: 2em;
}

.formsection {
  border: 1px solid rgb(3, 0, 0);
  border-radius: 25px;
}

.field {
  padding: 1em 1em 1em;
}

h3 {
  text-align: center;
  text-decoration-color: blue;
}

#error {
  color: red;
}

.spacer {
  margin: 0.5em;
}

.koppel {
  width: 25em;
  float: center;
}

.button-link-field {
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 170px;
}

.buttons-submit {
float: right;
}

.button-submit {
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 120px;
}

.button-color {
  color: #ffff;
  background-color: #1661EB;
}


mat-toolbar {
  color: #ffff;
  background-color: #1661EB;
}

.mat-form-field {
  margin-left: 1rem;
  margin-right: 1rem;
}

.link_button {
  margin-right: 4rem;
}

.datepickerMat {
  max-width: 201px;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: rgb(113, 109, 109);
}

.mat-link-field {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 170px;
}

