<div class="clearfix">
  <div id="searchbar">
    <app-searchbar [entity]="entityType" [dataToFilter]="dataSource" (passFilteredData)="FilterDataHandler($event)"></app-searchbar>
  </div>
</div>

<div class="mat-elevation-z8 table">

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <ng-container class="column" matColumnDef="chassisnummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Chassisnummer</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.chassisnummer}}</td>
    </ng-container>

    <ng-container matColumnDef="merk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Merk</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.merk}}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>model</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.model}}</td>
    </ng-container>

    <ng-container matColumnDef="nummerplaat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nummerplaat</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.nummerplaat}}</td>
    </ng-container>

    <ng-container matColumnDef="bouwjaar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>bouwjaar</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.bouwjaar}}</td>
    </ng-container>

    <ng-container matColumnDef="brandstof">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>brandstof</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.brandstof.typeBrandstof}}</td>
    </ng-container>

    <ng-container matColumnDef="kleur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>kleur</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.kleur}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalDeuren">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>aantalDeuren</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.aantalDeuren}}</td>
    </ng-container>

    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>categorie</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.categorie.typeWagen}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.status.staat}}</td>
    </ng-container>

    <ng-container matColumnDef="koppeling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>gekoppeld?</th>
      <td mat-cell *matCellDef="let voertuig">{{voertuig.koppeling != null}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
        (click)="ViewDetails(row)">
    </tr>
  </mat-table>
  <div></div>
  <mat-paginator [length]="100"
          [pageSize]="15"
          [pageSizeOptions]="[5, 10, 15, 25, 50, 100]"
          aria-label="Select page">
  </mat-paginator>

</div>
